{% extends 'base.html' %}

{% block content %}
  <h2 class="secondary">ВЫПОЛНЕННЫЕ ПРОЕКТЫ</h2>
   <div class="job-info">
    <p>Аттестационная работа</p>
    <time>2024</time>
  </div>
  <h3>Анализатор прайс-листов.</h3>
  <p class="job-detail">Программа должна загрузить данные из всех прайс-листов и предоставить интерфейс для поиска
    товара по фрагменту названия с сорторовкой по цене за килогорамм.
    Интерфейс для поиска реализовать через консоль, циклически получая информацию от пользователя.
    Если введено слово "exit", то цикл обмена с пользователем завершается, программа выводит сообщение о том, что
    работа закончена и завершает свою работу. </p>
  <a href="https://github.com/SergeyTsVL/Internship/tree/main">Анализатор прайс-листов</a>
  <div class="job-info">
    <p>Работа в рамках обучения</p>
    <time>2024</time>
  </div>
  <h3>Скрипт для парсинга сайта https://coinmarketcap.com/.</h3>
  <p class="job-detail">Этот скрипт позволяет вывести первый 100 криптовалют их цену и капитализацию и передать
    данные в файл формата.csv </p>
  <a href="https://github.com/SergeyTsVL/555/blob/main/DZ_PARSING.py">Скрипт</a>
  <div class="job-info">
    <p>Работа в рамках стажировки</p>
    <time>2024</time>
  </div>
  <h3>Проект для анализа и визуализации данных об акциях.</h3>
  <p class="job-detail">Этот проект предназначен для загрузки исторических данных об акциях и их визуализации.
    Он использует библиотеку yfinance для получения данных и matplotlib для создания графиков. Пользователи могут
    выбирать различные тикеры и временные периоды для анализа, а также просматривать движение цен и скользящие
    средние на графике. </p>
  <a href="https://github.com/SergeyTsVL/Project1_internship111/tree/8">Анализ и визуализация данных</a>
  <div class="job-info">
    <p>Работа в рамках стажировки</p>
    <time>2024</time>
  </div>
  <h3>Программа для создания изображений на основе TKinter.</h3>
  <p class="job-detail">Данная программа представляет собой пример использования библиотеки TKinter для создания
    графического интерфейса.. </p>
  <a href="https://github.com/SergeyTsVL/Project1_internship111/blob/2.7/drawing_app.py">Программа на основе TKinter</a>
  <div class="job-info">
    <p>Работа в рамках стажировки</p>
    <time>2024</time>
  </div>
  <h3>Многофункциональный телеграм-бот.</h3>
  <p class="job-detail"> Данный бот сейчас умеет работать с фотографиями и делать ASCII-арт.  </p>
  <a href="https://github.com/SergeyTsVL/Telegramm_Bot/tree/3.8">Многофункциональный телеграм-бот</a>
  <div class="job-info">
    <p>Дипломная работа</p>
    <time>2024</time>
  </div>
  <h3>Платформа распознавания объектов</h3>
  <p class="job-detail">Это веб-приложение на базе фреймворка Django, которое позволяет пользователям применять
    предобученные модели для обнаружения и классификации объектов на фотографиях. Приложение поддерживает механизмы
    регистрации и авторизации пользователей, что позволяет каждому пользователю создавать аккаунты и видеть только
    свои загруженные изображения.</p>
  <a href="https://github.com/SergeyTsVL/Dipl/tree/master">Платформа распознавания объектов</a>

  <div class="job-info">
    <p>Работа в рамках стажировки</p>
    <time>2024</time>
  </div>
  <h3>Журнал тренировок.</h3>
  <p class="job-detail">Импортируются модули tkinter, ttk из tkinter для работы с графическим интерфейсом
    пользователя, Toplevel для создания новых окон, messagebox для вывода сообщений пользователю, json для работы с
    данными в формате JSON, datetime для работы с датами и временем. Переменная data_file хранит имя файла, в
    который будут сохраняться данные о тренировках в формате JSON</p>
  <a href="https://github.com/SergeyTsVL/Training_Log/blob/1.8">Журнал тренировок</a>

  <div class="job-info">
    <p>Работа в рамках стажировки</p>
    <time>2024</time>
  </div>
  <h3>Доска объявлений на джанго.</h3>
  <p class="job-detail">В данном проекте используется рендеринг шаблонов, авторизация и регистрация пользователей,
    добавление/удаление фотографий/описания, пагинация, возможноть ставить лайки/дизлайки, вывод статистических
    данных пользователей.</p>
  <a href="https://github.com/SergeyTsVL/DjangoProject/tree/1.8">Доска объявлений</a>

  <div class="job-info">
    <p>Тестовое задание на вакансию Junior Python developer в компанию Effective Mobile (https://effective-mobile.ru/)</p>
    <time>2025</time>
  </div>
  <h3>Разработка системы управления заказами в кафе</h3>
  <p class="job-detail">Описание Необходимо разработать полнофункциональное веб-приложение на Django для управления
    заказами в кафе. Приложение должно позволять добавлять, удалять, искать, изменять и отображать заказы. </p>
  <a href="https://github.com/SergeyTsVL/Orders_at_the_cafe">Система управления заказами</a>

  <div class="job-info">
    <p>Работа в рамках стажировки</p>
    <time>2025</time>
  </div>
  <h3>Доработка игры в жанре "Tower Defense"</h3>
  <p class="job-detail">Проект является реализацией игры в жанре "Tower Defense", где игроку предстоит защищать
    базу от волн врагов, расставляя башни.</p>
  <p class="job-detail">Проработано в части:
    <li> Убрано постоянное отображение позиций.</li>
    <li>Добавлен звук к выстрелам и появлению врагов.</li>
    <li>Добавить новый тип башни.</li>
    <li>Сделано несколько путей для врагов, и при запуске путь выбирался случайно.</li>
    <li>Добавлена система улучшений башен.</li>
    <li>Увеличено количество денег игрока при уничтожении врагов.</li>
    <li>Созданы более разнообразные враги.</li>
    <li>Добавлено больше волн врагов.</li>
  </p>
  <a href="https://github.com/SergeyTsVL/tower_defence/tree/main">Tower Defense Game</a>

  <div class="job-info">
    <p>Тестовое задание на вакансию Junior Python developer в компанию ООО «ИТ Продажи»</p>
    <time>2025</time>
  </div>
  <h3>Разработка системы управления заказами в кафе</h3>
  <p class="job-detail">Требуется создать простую API-систему, имитирующую деятельно службы доставки.</p>
  <p><a href="https://kemerovo.hh.ru/vacancy/111177623?hhtmFrom=negotiation_list">Ссылка на вакансию</a></p>
  <p><a href="https://github.com/SergeyTsVL/TZ_vacancy/blob/main/README.md">Система управления заказами</a></p>

  <div class="job-info">
    <p>Тестовое задание на вакансию Программист/Разработчик Python в компанию ООО ФОРА»</p>
    <time>2025</time>
  </div>
  <h3>Разработка системы расстановки призовых мест по категориям спортсменов</h3>
  <p class="job-detail">В файле race_data.json находятся данные о соревновании, в котором участвуют 100000
    спортсменов. В файлах m15/16/18 и w15/16/18.txt находятся данные о призовом фонде для каждой категории
    спортсменов. У каждого спортсмена есть категория, порядковый номер, имя и фамилия. А также время старта и время
    финиша. В файлах о призовом фонде находятся данные в виде "№ место Приз". Необходимо рассчитать время забега
    каждого спортсмена по категориям и составить JSON файлы вида json...</p>
  <p><a href="https://kemerovo.hh.ru/vacancy/117522690?hhtmFrom=negotiation_list">Ссылка на вакансию</a></p>
  <p><a href="https://github.com/SergeyTsVL/Analitica_100_000">Система расстановки призовых мест</a></p>

  <div class="job-info">
    <p>Тестовое задание на вакансию junior backend developer python, в компанию Effective Mobile.</p>
    <time>2025</time>
  </div>
  <h3>Платформа для обмена вещами (бартерная система)</h3>
  <p class="job-detail">Разработать монолитное веб-приложение на Django для организации обмена вещами между пользователями. Пользователи
    смогут размещать объявления о товарах для обмена, просматривать чужие объявления и отправлять предложения на обмен.
    Приложение должно предоставлять удобный веб-интерфейс и, при необходимости, REST API для работы с объявлениями и обменными
    предложениями.</p>
  <p><a href="https://docs.yandex.ru/docs/view?url=ya-disk-public%3A%2F%2FG%2FsBR6g5Su%2Bg4Zy0ZkTVj72NRHxnd9ZmTNbasYUAcjfd9%2F
       j5zZgXSwYiygqgqJ7iG7pWpVQYsubyrcajHimPFw%3D%3D&name=junior%20python%20-%20Вакансия.pdf&nosw=1">Ссылка на вакансию</a></p>
  <p><a href="https://github.com/SergeyTsVL/Effective_Mobile_Junior_Python/tree/main">Ссылка на задание</a></p>

{% endblock %}